body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	margin-right: 5px;
	margin-top: 5px;
}

.postcard-header h1 {
	width: 100%;
	margin: auto;
	margin-left: 30px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 5px;
}

input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: grey;
}

p {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 18px;
	margin-left: 10px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: grey;
	padding: 5px;
}
